<div class="container my-5">
  <div class="jumbotron">
    <h2 class="display-4">Hello you are in Home page</h2>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore odit
      possimus, autem culpa dolorum velit iusto aut accusantium perspiciatis
      consequatur magnam voluptas modi atque, doloremque necessitatibus incidunt
      praesentium et perferendis.
    </p>
    <hr class="my-4">
    <button routerLink="/about" class="btn btn-lg btn-light mr-3">Go to About page</button>
    <button routerLink="/contact" class="btn btn-lg btn-light">Go to contact page</button>
  </div>
</div>
